body {
    background-color: rgb(225, 252, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 , h4{
    color:rgb(17, 91, 252);
}
h5 {
    font-size: 20px;
}
.test_image_and_result1 , .test_image_and_result2 , .test_image_and_result3 , .test_image_and_result4 , .test_image_and_result5 , .test_image_and_result6 {
    float:none;
    margin-top: 20px;
    width: 1200px;
    border-radius: 15px;
    border: 5px solid white;
}
h6 {
    font-size: 20px;
}
b {
    font-size: 20px;
}
.conclusion {
    font-size: 15px;
    text-align: left;
    float:none;
    margin-top: 20px;
    width: 1200px;
    border-radius: 15px;
    border: 5px solid rgb(6, 84, 250);
}
